@import "variables";
@import "fonts";

.all-wrapper {
    background: url(/assets/images/userpanel-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: $black;
}
.user_info{
    .myaccount-imagebox{
        img{
            height: 13rem;
            width: 13rem;
            object-fit: contain;
            border: 1px solid $orange;
            padding: 1rem;
        }
    }
}
.myaccount-tab-main{
    .left_tabs{
        .nav-pills{
            .active{
                background-color: transparent ;
                border-color: $orange;
                img{
                    filter: grayscale(0);
                }
                p{
                    font-weight: 900;
                }
            }
            button {
                height: 150px;
                width: 150px;
                margin: 0px 20px 20px 0px;
                background: rgba(127, 127, 127, 0.35);
                border: 1px outset transparent;
                outline: none;
                text-align: center;
                cursor: pointer; 
                transition: all linear .3s;
                &:hover{
                    box-shadow: 0px 0px 20px 2px #858585;
                    border-color: $orange;
                    img{
                        filter: grayscale(0);
                        transform: scale(1);
                    }
                }
                img{
                    filter: grayscale(1);
                    transform: scale(0.5);
                    transition: all linear .3s;
                }
            }
        }
    }
    .rigt_content {
        border: 1px outset $orange;
        padding: 4px;
        .outer {
            background: #ffffff1a;
            padding: 25px 20px;
        }
        .inner{
            border: 1px outset #e2a236;
            padding: 5rem;
            .nav-tabs{
                justify-content: space-between;
                border: unset;
            }
            .second{
                img{
                    max-width: 20rem;
                }
            }
        }
    }
}
