// Variables
@import "variables";
@import "fonts";

// Main Responsive Stylesheet
@media only screen and (min-width: 1440px) {
   

}



// lg min
@media only screen and (min-width: 1200px) {
  
}

// below desktop
@media only screen and (max-width: 1100px) {

}


@media only screen and (max-width: 1199px) {

}
// tabes
@media  (max-width: 1024px) {

}
@media only screen and (min-width: 992px) and (max-width: 1024px) {

  /* end max-1024px */
}

// tabes
@media only screen and (min-width: 768px) and (max-width: 991px) {
   

  /* end min768 max-991px */
}

@media only screen and (min-width: 992px) {
  


  /* end min-1200px */
}

// ipad
@media only screen and (max-width: 991px) {

  .signup .--img img {
    max-width: 30rem;
}
.top_winners .--img img {
  max-width: 30rem;
}
section.hero .--content h3 {
  font-size: 4rem;
}
section.hero {
  min-height: 50vh;
}
header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link.btn.first {
  margin-right: 0rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link {
  border-bottom: 1px solid $orange;
  margin-bottom: 1rem;
}
}

// Mobile
@media only screen and (max-width: 767px) {
  section.hero {
    min-height: 100vh;
}
}

@media only screen and (min-width: 575px) and (max-width: 767px){
   
}

@media only screen and (max-width: 360px){
   
}