// Variables
@import "variables";
@import "fonts";

section.hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 0;
    min-height: 100vh;
    .--content {
        // background: #0009;
        // padding: 3rem;
        border-radius: 1rem;
        h3{
            text-transform: uppercase;
            text-shadow: 0px 10px 2px #ffcc5a57;
            text-align: center;
  
            // background: linear-gradient(to right, #eea32c 20%, #6B41F3 40%, #eea32c 60%, #6B41F3 80%);
            // background-size: 200% auto;
            // color: #000;
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // animation: shine 5s linear infinite;
            font-weight: 900;
            font-size: 7rem;
        }
    }
}
@keyframes shine { 
    to {
      background-position: 200% center;
    }
  }
.signup{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .--content{
        p, h4{
            color: $orange;
        }
        h4{
            font-weight: 700;
            margin-bottom: 3rem;
        }
    }
    .--img{
        img{
            max-width: 50rem;
        }
    }
}

.games{
    .game-header{
        h3{
            text-shadow: 2px 2px 5px #3506ce;
            font-weight: 700;
            font-size: 4rem;
        }
    }
        .game_gallery{
            .game_card {
                position: relative;
                overflow: hidden;
                margin-bottom: 3rem;
                img.gameimage{
                    transition: all 0.5s;
                    //transform: scale(1.1);
                    max-width: 22rem;
                    height: fit-content;
                    object-fit: cover;
                    border-radius: 1rem;
                }
                // &:hover  img.gameimage {
                //     //transform: scale(1.2);
                // }
                &:hover .card-body {
                    bottom: 2rem;
                }
                .card-body {
                    position: absolute;
                    left: 0;
                    bottom: -50%;
                    width: 100%;
                    transition: all 0.5s;
                }
                .favourit {
                    position: absolute;
                    top: 28px;
                    right: 9px;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    z-index: 10;
                    a{
                        width: 50px;
                        height: 26px;
                        border-radius: 30px;
                        display: block;
                        background: linear-gradient(to bottom, #fff5c2 0%, #e2a336 50%, #e2a336 50%, #fff5c2 100%);
                        transition: all 0.3s ease-in-out;
                        i {
                            line-height: 26px;
                            color: #de0000;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
    }
}

// top_winners
.top_winners{
    .--content{
        h3{
            font-size: 4.5rem;
            font-weight: 700;
            text-transform: uppercase;
            // background: -webkit-radial-gradient(center, ellipse cover, #ffee97 10%, #CA6E05 86%, #CA6E05 100%);
            // // -webkit-background-clip: text;
            // -webkit-text-fill-color: #0000;
            padding-bottom: 35px;
        }
        .all-table {
            width: 70%;
            margin: 0 auto;
            tbody{
                tr{
                    td {
                        font-size: 16px;
                        text-align: center;
                        padding: 15px 10px;
                        border-bottom: 1px outset #c09233;
                    }
                    &:first-child td {
                        border: 1px outset #c09233;
                    }
                }
            }
        }
    }
    .--img{
        img{
            max-width: 45rem;
        }
    }
}

.exclusive{
    .exclusive_tabs{
        h3{
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        .tab-content{
            .tab-pane{
                .accordion{
                    .accordion-item{
                        background: #0000;
                        border: none;
                        .accordion-button {
                            background: #0000;
                            color: $orange;
                            font-size: 1.6rem;
                            padding: 0;
                            padding-bottom: 1rem;
                            &::after{
                                display: none;
                            }
                            &:focus{
                                outline: none;
                                box-shadow: none;
                            }
                        }
                        .accordion-collapse{
                            .accordion-body{
                                font-size: 1.6rem;
                                color: $white;
                            }
                        }
                    }
                }
                // ul{
                //     padding: 0;
                //     li{
                //         list-style: none;
                //     }
                // }
            }
        }
    }
    .--content{
        h3{
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

/*--------------Login form css-------------*/
#popup-login, #popup-signup{
    font-family:poppins;
    background: #242424d6;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: $white;
    .popup {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #e2a236;
        background: linear-gradient(92deg, #da8717 -10%, #000 50%);
        //margin: auto; 
        padding: 15px 5px;
        border-radius: 0px;
        height: max-content; 
        width: 700px;
        position: relative;
        &::-webkit-scrollbar {
            display: none;
          }
        .outer-holder{
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 5px;
            }
                .form-user-login{
                    .login-social-text{
                        label {
                            font-size: 4rem;
                            color: #fff;
                            margin-bottom: 5rem;
                        }
                    }
                    .login-icons{
                        .social-form-div {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 1rem;
                            a{
                                // color: $white;
                                // background: #a56612;
                                // padding: 1rem 2rem;
                                border-radius: 10px;
                                margin-bottom: 2rem;
                                i {
                                    padding-right: 1rem;
                                }
                            }
                        }
                    }
                    .or-line {
                        text-align: center;
                        margin-bottom: 2rem;
                        border-bottom: 2px solid $orange;
                        span {
                            font-size: 2rem;
                            text-align: center;
                        }
                    }
                    .form-floating{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            justify-content: space-between;
                        input#email, input#pass, input {
                            padding: 2.5rem 1rem;
                            border: 1px solid $orange;
                            margin-bottom: 2rem;
                            background-color: #0000;    
                            font-size: 1.6rem;
                            color: #fff;
                            &::placeholder {
                                color: $white;
                                font-size: 1.6rem;
                              }
                        }
                        input#pass{
                            i#view-pass { 
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                    .login-check {
                        margin-bottom: 2rem;
                        label {
                            padding-left: 5px;
                            font-size:1.2rem;
                        }
                        .forgot-pass-outer{
                            .forgot-pass{
                                a{
                                    color: $white;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                    .new-player {
                        margin-top: 2rem;
                        p{
                            a{
                                color: $orange;
                                font-weight: 600;
                            }
                        }
                    }
                }
        }
        .close {
            position: absolute;
            top: 0px;
            right: 0px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: normal;
            text-decoration: none;
            text-align: center;
            background: #333;
            border-radius: 0;
            cursor: pointer;
            float: right;
            padding: 0;
            color: #fff;
            margin-top: 0;
            margin-right: 0;
            height: 40px;
            width: 40px;
            line-height: 45px;
            &:hover{
                color: #e2a236;
            }
        }
    }
    &::-webkit-scrollbar {
        display: none;
      }

}

.overlay-login {
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0; 
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden; 
    opacity: 0; 
    z-index: 9999;
    &:target{ 
        visibility: visible;
        opacity: 1;
    }
}

.form-floating>.form-control:not(:placeholder-shown)~label{
    opacity: 1;
    font-size: 1.6rem;
    color: #fff;
}

#popup-signup .popup .outer-holder .form-user-login .login-social-text label {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 2rem;
}
// Login Sign up End

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}