@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;600;700&display=swap");
.mt-16 {
  margin-top: 1.6rem;
}

.mt-18 {
  margin-top: 1.8rem;
}

.mt-20 {
  margin-top: 2.0rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mt-30 {
  margin-top: 3.0rem;
}

.mt-32 {
  margin-top: 3.2rem;
}

.mt-40 {
  margin-top: 4.0rem;
}

.mt-50 {
  margin-top: 5rem;
}

.mt-60 {
  margin-top: 6rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-80 {
  margin-top: 8rem;
}

.mt-90 {
  margin-top: 9rem;
}

.mt-100 {
  margin-top: 10rem;
}

.mt-150 {
  margin-top: 15rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mb-18 {
  margin-bottom: 1.8rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-32 {
  margin-bottom: 3.2rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-60 {
  margin-bottom: 6rem;
}

.mb-70 {
  margin-bottom: 7rem;
}

.mb-80 {
  margin-bottom: 8rem;
}

.mb-90 {
  margin-bottom: 9rem;
}

.mb-100 {
  margin-bottom: 10rem;
}

.mb-150 {
  margin-bottom: 15rem;
}

.mb-200 {
  margin-bottom: 20rem;
}

.pt-10 {
  padding-top: 1rem;
}

.pt-16 {
  padding-top: 1.6rem;
}

.pt-18 {
  padding-top: 1.8rem;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-24 {
  padding-top: 2.4rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pt-32 {
  padding-top: 3.2rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pt-50 {
  padding-top: 5rem;
}

.pt-60 {
  padding-top: 6rem;
}

.pt-70 {
  padding-top: 7rem;
}

.pt-80 {
  padding-top: 8rem;
}

.pt-90 {
  padding-top: 9rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pt-120 {
  padding-top: 12rem;
}

.pt-150 {
  padding-top: 15rem;
}

.pt-200 {
  padding-top: 20rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pb-16 {
  padding-bottom: 1.6rem;
}

.pb-18 {
  padding-bottom: 1.8rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pb-24 {
  padding-bottom: 2.4rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pb-32 {
  padding-bottom: 3.2rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.pb-50 {
  padding-bottom: 5rem;
}

.pb-60 {
  padding-bottom: 6rem;
}

.pb-70 {
  padding-bottom: 7rem;
}

.pb-80 {
  padding-bottom: 8rem;
}

.pb-90 {
  padding-bottom: 9rem;
}

.pb-100 {
  padding-bottom: 10rem;
}

.pb-120 {
  padding-bottom: 12rem;
}

.pb-150 {
  padding-bottom: 15rem;
}

.pb-200 {
  padding-bottom: 20rem;
}

.ps-10 {
  padding-left: 1rem;
}

.ps-16 {
  padding-left: 1.6rem;
}

.ps-18 {
  padding-left: 1.8rem;
}

.ps-20 {
  padding-left: 2rem;
}

.ps-24 {
  padding-left: 2.4rem;
}

.ps-30 {
  padding-left: 3rem;
}

.ps-32 {
  padding-left: 3.2rem;
}

.ps-40 {
  padding-left: 4rem;
}

.ps-50 {
  padding-left: 5rem;
}

.ps-60 {
  padding-left: 6rem;
}

.ps-70 {
  padding-left: 7rem;
}

.ps-80 {
  padding-left: 8rem;
}

.ps-90 {
  padding-left: 9rem;
}

.ps-100 {
  padding-left: 10rem;
}

.ps-150 {
  padding-left: 15rem;
}

.ps-200 {
  padding-left: 20rem;
}

.pe-10 {
  padding-right: 1rem;
}

.pe-16 {
  padding-right: 1.6rem;
}

.pe-18 {
  padding-right: 1.8rem;
}

.pe-20 {
  padding-right: 2rem;
}

.pe-24 {
  padding-right: 2.4rem;
}

.pe-30 {
  padding-right: 3rem;
}

.pe-32 {
  padding-right: 3.2rem;
}

.pe-40 {
  padding-right: 4rem;
}

.pe-50 {
  padding-right: 5rem;
}

.pe-60 {
  padding-right: 6rem;
}

.pe-70 {
  padding-right: 7rem;
}

.pe-80 {
  padding-right: 8rem;
}

.pe-90 {
  padding-right: 9rem;
}

.pe-100 {
  padding-right: 10rem;
}

.pe-150 {
  padding-right: 15rem;
}

.pe-200 {
  padding-right: 20rem;
}

.p-20 {
  padding: 2rem;
}

.p-30 {
  padding: 3rem;
}

.p-40 {
  padding: 4rem;
}

.p-50 {
  padding: 5rem;
}

.max-10 {
  max-width: 10rem;
}

.max-20 {
  max-width: 20rem;
}

.max-300 {
  max-width: 30rem;
}

.max-350 {
  max-width: 30.5rem;
}

.max-400 {
  max-width: 40rem;
}

.max-500 {
  max-width: 50rem;
}

.max-600 {
  max-width: 60rem;
}

.max-700 {
  max-width: 70rem;
}

.max-800 {
  max-width: 80rem;
}

.max-980 {
  max-width: 98rem;
}

.max-1400 {
  max-width: 140rem;
}

.max-1920 {
  max-width: 192rem;
  margin: auto;
}

.mwidth_605 {
  max-width: 60.5rem;
  width: 100%;
}

.minvh-100 {
  min-height: 100vh;
}

.minh-180 {
  min-height: 18rem;
}

.minh-265 {
  min-height: 26.5rem;
}

.minh-350 {
  min-height: 35rem;
}

.minh-500 {
  min-height: 50rem;
}

.h-100-vh {
  min-height: 100vh;
}

.h-90-vh {
  min-height: 90vh;
}

.h-80-vh {
  min-height: 80vh;
}

.h-70-vh {
  min-height: 70vh;
}

.h-60-vh {
  min-height: 60vh;
}

.h-50-vh {
  min-height: 50vh;
}

html {
  font-size: 10px;
}

html body {
  font-family: 'Poppins', sans-serif;
}

html body h1 {
  font-size: 3.6rem;
  font-weight: 600;
  color: #FFFFFF;
}

html body h2 {
  font-size: 3.2rem;
  font-weight: 500;
  color: #FFFFFF;
}

html body h3 {
  font-size: 3rem;
  font-weight: 400;
  color: #FFFFFF;
}

html body h4 {
  font-size: 2.8rem;
  font-weight: 400;
  color: #FFFFFF;
}

html body h5 {
  font-size: 2.6rem;
  font-weight: 400;
  color: #FFFFFF;
}

html body h6 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #FFFFFF;
}

html body a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

html body p {
  color: white;
  font-size: 1.6rem;
}

html body .btn.first {
  font-size: 2.2rem;
  color: #000;
  font-family: 'Bebas Neue', cursive;
  background: #da8717;
  background: linear-gradient(184deg, #da8717 0%, #f4d36c 50%);
  padding: 1rem 4rem;
  border-radius: 1rem;
  border: unset;
  font-weight: 500;
  background: #ffcc5a;
  -webkit-box-shadow: 0px 10px 0px 0px #9c651a, 0px 0px 10px 0px #787878;
          box-shadow: 0px 10px 0px 0px #9c651a, 0px 0px 10px 0px #787878;
}

html body .btn.first :active {
  -webkit-box-shadow: 0px 5px 0px 0px #a72b41;
          box-shadow: 0px 5px 0px 0px #a72b41;
}

html body .btn.second {
  font-size: 1.6rem;
  color: black;
  font-family: 'Bebas Neue', cursive;
  background: #da8717;
  background: linear-gradient(184deg, #da8717 0%, #f4d36c 50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: unset;
  background: #ffcc5a;
  -webkit-box-shadow: 0px 10px 0px 0px #9c651a, 0px 0px 10px 0px #787878;
          box-shadow: 0px 10px 0px 0px #9c651a, 0px 0px 10px 0px #787878;
  font-weight: 500;
  border: unset;
}

html body .btn.second:active {
  -webkit-box-shadow: 0px 5px 0px 0px #a72b41;
          box-shadow: 0px 5px 0px 0px #a72b41;
}

header#navbar-main {
  background-color: #000;
  padding: 0px 0px;
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
  -webkit-box-shadow: 0px 10px 7px 0px #353535;
          box-shadow: 0px 10px 7px 0px #353535;
  position: relative;
  z-index: 99;
}

header#navbar-main nav.navbar button.navbar-toggler {
  background-color: #ffcc5a;
}

header#navbar-main nav.navbar .navbar-brand img {
  max-height: 10rem;
}

header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 1.2rem;
  font-weight: 600;
}

header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link.btn.first {
  margin-right: 2rem;
  color: #000;
  padding: 0.5rem 3rem;
  font-size: 2.2rem;
}

header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link.signup.btn.first {
  margin-right: 0;
}

section.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0;
  min-height: 100vh;
}

section.hero .--content {
  border-radius: 1rem;
}

section.hero .--content h3 {
  text-transform: uppercase;
  text-shadow: 0px 10px 2px #ffcc5a57;
  text-align: center;
  font-weight: 900;
  font-size: 7rem;
}

@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.signup {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.signup .--content p, .signup .--content h4 {
  color: #ffcc5a;
}

.signup .--content h4 {
  font-weight: 700;
  margin-bottom: 3rem;
}

.signup .--img img {
  max-width: 50rem;
}

.games .game-header h3 {
  text-shadow: 2px 2px 5px #3506ce;
  font-weight: 700;
  font-size: 4rem;
}

.games .game_gallery .game_card {
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}

.games .game_gallery .game_card img.gameimage {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 22rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.games .game_gallery .game_card:hover .card-body {
  bottom: 2rem;
}

.games .game_gallery .game_card .card-body {
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.games .game_gallery .game_card .favourit {
  position: absolute;
  top: 28px;
  right: 9px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.games .game_gallery .game_card .favourit a {
  width: 50px;
  height: 26px;
  border-radius: 30px;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff5c2), color-stop(50%, #e2a336), color-stop(50%, #e2a336), to(#fff5c2));
  background: linear-gradient(to bottom, #fff5c2 0%, #e2a336 50%, #e2a336 50%, #fff5c2 100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.games .game_gallery .game_card .favourit a i {
  line-height: 26px;
  color: #de0000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.top_winners .--content h3 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 35px;
}

.top_winners .--content .all-table {
  width: 70%;
  margin: 0 auto;
}

.top_winners .--content .all-table tbody tr td {
  font-size: 16px;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px outset #c09233;
}

.top_winners .--content .all-table tbody tr:first-child td {
  border: 1px outset #c09233;
}

.top_winners .--img img {
  max-width: 45rem;
}

.exclusive .exclusive_tabs h3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.exclusive .exclusive_tabs .tab-content .tab-pane .accordion .accordion-item {
  background: #0000;
  border: none;
}

.exclusive .exclusive_tabs .tab-content .tab-pane .accordion .accordion-item .accordion-button {
  background: #0000;
  color: #ffcc5a;
  font-size: 1.6rem;
  padding: 0;
  padding-bottom: 1rem;
}

.exclusive .exclusive_tabs .tab-content .tab-pane .accordion .accordion-item .accordion-button::after {
  display: none;
}

.exclusive .exclusive_tabs .tab-content .tab-pane .accordion .accordion-item .accordion-button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.exclusive .exclusive_tabs .tab-content .tab-pane .accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 1.6rem;
  color: #FFFFFF;
}

.exclusive .--content h3 {
  font-weight: 700;
  text-transform: uppercase;
}

/*--------------Login form css-------------*/
#popup-login, #popup-signup {
  font-family: poppins;
  background: #242424d6;
  height: 100vh;
  overflow-y: scroll;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
}

#popup-login .popup, #popup-signup .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #e2a236;
  background: linear-gradient(92deg, #da8717 -10%, #000 50%);
  padding: 15px 5px;
  border-radius: 0px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 700px;
  position: relative;
}

#popup-login .popup::-webkit-scrollbar, #popup-signup .popup::-webkit-scrollbar {
  display: none;
}

#popup-login .popup .outer-holder, #popup-signup .popup .outer-holder {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#popup-login .popup .outer-holder::-webkit-scrollbar, #popup-signup .popup .outer-holder::-webkit-scrollbar {
  width: 5px;
}

#popup-login .popup .outer-holder .form-user-login .login-social-text label, #popup-signup .popup .outer-holder .form-user-login .login-social-text label {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 5rem;
}

#popup-login .popup .outer-holder .form-user-login .login-icons .social-form-div, #popup-signup .popup .outer-holder .form-user-login .login-icons .social-form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

#popup-login .popup .outer-holder .form-user-login .login-icons .social-form-div a, #popup-signup .popup .outer-holder .form-user-login .login-icons .social-form-div a {
  border-radius: 10px;
  margin-bottom: 2rem;
}

#popup-login .popup .outer-holder .form-user-login .login-icons .social-form-div a i, #popup-signup .popup .outer-holder .form-user-login .login-icons .social-form-div a i {
  padding-right: 1rem;
}

#popup-login .popup .outer-holder .form-user-login .or-line, #popup-signup .popup .outer-holder .form-user-login .or-line {
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: 2px solid #ffcc5a;
}

#popup-login .popup .outer-holder .form-user-login .or-line span, #popup-signup .popup .outer-holder .form-user-login .or-line span {
  font-size: 2rem;
  text-align: center;
}

#popup-login .popup .outer-holder .form-user-login .form-floating, #popup-signup .popup .outer-holder .form-user-login .form-floating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#popup-login .popup .outer-holder .form-user-login .form-floating input#email, #popup-login .popup .outer-holder .form-user-login .form-floating input#pass, #popup-login .popup .outer-holder .form-user-login .form-floating input, #popup-signup .popup .outer-holder .form-user-login .form-floating input#email, #popup-signup .popup .outer-holder .form-user-login .form-floating input#pass, #popup-signup .popup .outer-holder .form-user-login .form-floating input {
  padding: 2.5rem 1rem;
  border: 1px solid #ffcc5a;
  margin-bottom: 2rem;
  background-color: #0000;
  font-size: 1.6rem;
  color: #fff;
}

#popup-login .popup .outer-holder .form-user-login .form-floating input#email::-webkit-input-placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input#pass::-webkit-input-placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input::-webkit-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#email::-webkit-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#pass::-webkit-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input::-webkit-input-placeholder {
  color: #FFFFFF;
  font-size: 1.6rem;
}

#popup-login .popup .outer-holder .form-user-login .form-floating input#email:-ms-input-placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input#pass:-ms-input-placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input:-ms-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#email:-ms-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#pass:-ms-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input:-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1.6rem;
}

#popup-login .popup .outer-holder .form-user-login .form-floating input#email::-ms-input-placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input#pass::-ms-input-placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input::-ms-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#email::-ms-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#pass::-ms-input-placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input::-ms-input-placeholder {
  color: #FFFFFF;
  font-size: 1.6rem;
}

#popup-login .popup .outer-holder .form-user-login .form-floating input#email::placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input#pass::placeholder, #popup-login .popup .outer-holder .form-user-login .form-floating input::placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#email::placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input#pass::placeholder, #popup-signup .popup .outer-holder .form-user-login .form-floating input::placeholder {
  color: #FFFFFF;
  font-size: 1.6rem;
}

#popup-login .popup .outer-holder .form-user-login .form-floating input#pass i#view-pass, #popup-signup .popup .outer-holder .form-user-login .form-floating input#pass i#view-pass {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#popup-login .popup .outer-holder .form-user-login .login-check, #popup-signup .popup .outer-holder .form-user-login .login-check {
  margin-bottom: 2rem;
}

#popup-login .popup .outer-holder .form-user-login .login-check label, #popup-signup .popup .outer-holder .form-user-login .login-check label {
  padding-left: 5px;
  font-size: 1.2rem;
}

#popup-login .popup .outer-holder .form-user-login .login-check .forgot-pass-outer .forgot-pass a, #popup-signup .popup .outer-holder .form-user-login .login-check .forgot-pass-outer .forgot-pass a {
  color: #FFFFFF;
  font-size: 1.2rem;
}

#popup-login .popup .outer-holder .form-user-login .new-player, #popup-signup .popup .outer-holder .form-user-login .new-player {
  margin-top: 2rem;
}

#popup-login .popup .outer-holder .form-user-login .new-player p a, #popup-signup .popup .outer-holder .form-user-login .new-player p a {
  color: #ffcc5a;
  font-weight: 600;
}

#popup-login .popup .close, #popup-signup .popup .close {
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  background: #333;
  border-radius: 0;
  cursor: pointer;
  float: right;
  padding: 0;
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  height: 40px;
  width: 40px;
  line-height: 45px;
}

#popup-login .popup .close:hover, #popup-signup .popup .close:hover {
  color: #e2a236;
}

#popup-login::-webkit-scrollbar, #popup-signup::-webkit-scrollbar {
  display: none;
}

.overlay-login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay-login:target {
  visibility: visible;
  opacity: 1;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
  opacity: 1;
  font-size: 1.6rem;
  color: #fff;
}

#popup-signup .popup .outer-holder .form-user-login .login-social-text label {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  /* end max-1024px */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* end min768 max-991px */
}

@media only screen and (min-width: 992px) {
  /* end min-1200px */
}

@media only screen and (max-width: 991px) {
  .signup .--img img {
    max-width: 30rem;
  }
  .top_winners .--img img {
    max-width: 30rem;
  }
  section.hero .--content h3 {
    font-size: 4rem;
  }
  section.hero {
    min-height: 50vh;
  }
  header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link.btn.first {
    margin-right: 0rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  header#navbar-main nav.navbar .navbar-nav li.nav-item a.nav-link {
    border-bottom: 1px solid #ffcc5a;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  section.hero {
    min-height: 100vh;
  }
}

.all-wrapper {
  background: url(/assets/images/userpanel-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #000;
}

.user_info .myaccount-imagebox img {
  height: 13rem;
  width: 13rem;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid #ffcc5a;
  padding: 1rem;
}

.myaccount-tab-main .left_tabs .nav-pills .active {
  background-color: transparent;
  border-color: #ffcc5a;
}

.myaccount-tab-main .left_tabs .nav-pills .active img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.myaccount-tab-main .left_tabs .nav-pills .active p {
  font-weight: 900;
}

.myaccount-tab-main .left_tabs .nav-pills button {
  height: 150px;
  width: 150px;
  margin: 0px 20px 20px 0px;
  background: rgba(127, 127, 127, 0.35);
  border: 1px outset transparent;
  outline: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.myaccount-tab-main .left_tabs .nav-pills button:hover {
  -webkit-box-shadow: 0px 0px 20px 2px #858585;
          box-shadow: 0px 0px 20px 2px #858585;
  border-color: #ffcc5a;
}

.myaccount-tab-main .left_tabs .nav-pills button:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.myaccount-tab-main .left_tabs .nav-pills button img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.myaccount-tab-main .rigt_content {
  border: 1px outset #ffcc5a;
  padding: 4px;
}

.myaccount-tab-main .rigt_content .outer {
  background: #ffffff1a;
  padding: 25px 20px;
}

.myaccount-tab-main .rigt_content .inner {
  border: 1px outset #e2a236;
  padding: 5rem;
}

.myaccount-tab-main .rigt_content .inner .nav-tabs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: unset;
}

.myaccount-tab-main .rigt_content .inner .second img {
  max-width: 20rem;
}
/*# sourceMappingURL=screen.css.map */