// Main Animations
// Variables
@import "variables";

.recentwins{
    .gamesCat{

    }
    .-content{
        h3{
            font-weight: 600;
            line-height: 130%;
            text-transform: capitalize;
            font-family: 'Orbitron';
            margin-bottom: 3.2rem
        }
    }
}