.userHeader {
   display: "flex" !important;
  align-items: "center" !important;
  margin-left: "10px" !important;
  margin-top: "-6px" !important;
}
@media only screen and (max-width: 600px){
 
  .mainHeader {
   margin-top: "20px"
  }
}
@media only screen and (min-width: 600px){
 
  .mainHeader {
   margin-top: "20px"
  }
}